<% if signed_in? %>
  <h1><%= get_dashboard_name %></h1>
  
        <%= render 'shared/user_info' %>
    
          <%= render 'shared/my_leave' %>
     
        <% if current_user.subordinates.any? %>
          <%= render 'shared/my_employees_leave' %>
        <% end %>
       
<% else %>
<div class="hero-unit" > 
<h1>Leave Management App
</h1><br>
<p class="text-center", class= "lead">Want to Apply for a leave ? </p>
 <p class= "text-center"><%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
</p>
</div>
<%end %>
