<h2>Show Leave Details </h2>
<p>
Applied by:
<%= User.find(@leave.user_id).name %>
</p>
<p>
Applied to:
<%= User.find(@leave.approver_id).name %>
</p>
<p>
Start date:
<%= @leave.start_date %>
</p>

<p>
End date:
<%= @leave.end_date %>
</p>

<p>
Reason:
<%= @leave.reason%>
</p>

<p>
Status:
<b><%= @leave.status%></b>
</p>

<% if current_user.id ==@leave.approver_id %>
<% if @leave.status== "Pending" %>
 <%= link_to "Approve", {controller: "leave", action: "approve", id: @leave.id},
                                class: "btn btn-large btn-primary" %> | 

<%= link_to "Reject", {controller: "leave", action: "reject", id: @leave.id},
                                class: "btn btn-large btn-primary" %>
  <%end %>
<% end %>
<br>
<%= link_to 'Back', root_url %>
