<div class="span8">
    <%@leave= Leave.where(approver_id: @user.id) %>
    <% if @leave.any? %>
    <h4>My Employee Leaves (<%= @leave.count %>) </h4>
     <table>
      <thead>
    <tr>
      <th>Employee name &nbsp;</th>
      <th>Leave Reason &nbsp;</th>
      <th>Start date &nbsp;</th>
      <th>End date &nbsp;</th>
      <th>Status &nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @leave.each do |leave| %>
      <tr> 
        <td><%= link_to User.find(leave.user_id).name , user_path(leave.user_id) %> &nbsp;</td>
        <td><%= link_to leave.reason, user_leave_path(@user, leave.id) %></td>
        <td><%= leave.start_date %> &nbsp;</td>
        <td><%= leave.end_date%> &nbsp;</td>
        <td><%= leave.status %> &nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <% end %>
  </div>